h1 {
    color: blue;
    text-align: center;
    font-size: 40;
    border-bottom: 5px solid palegreen;
}

h2 {
    color: blue;
}

ul li{
    font-style: italic;
    color:blue;
}

ol li {
    font-style: italic;
    color:blue;
}
    
.caris {
    border: 1px solid black;
    display: flex;
}

.caris section {
    background: palegreen;
    padding: 15px;
    margin: 50px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    background: palegreen;
      margin: 5px;
    padding: 10px;
    
}