H1 {
    color:purple;
    text-align:center;
    font-size:40pt;
    border-bottom:4px dashed Gold  ;
} 
H2 {
    color: purple  ;
    border-bottom: orange ;
    
}
ul li {
    font-style:italic;
}
ol li{ 
    color : blue;
}
.my-outer-section{
     border:3px dashed black;
     display: flex;
}
.my-outer-section section {
   background:plum;
    padding:15px;
    margin:1px;
}
nav ul{ 
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li{ 
    background:plum;
    padding:5px;
    margin:2px;
}
nav ul li a {
    color:blue;
}

    
    
