h1 {
    color: red;
    text-align: right;
    font-size: 29pt;
    border-bottom:5px solid black;
   }
h2 {
    color: Orange;
    text-align:center;
    font-size: 23pt;
    border-bottom:3px solid black;
}
ul li {
    font-style: italic;
    color:green;
    font-size:22pt;
    }
ol li{
    color:green;
    font-size:22pt;
}    
  
.Nicole {
    border: 5px solid red;
    display:flex;
     }
.Lynn {
    background: yellow;
    padding: 3px;
    margin:35px;
      } 
      
nav ul {
    list-style: none;
    margin: 0;
    padding:0;
    display:flex;
     }      
nav ul li {
      background:green;
      font-size:18px;
      padding:5px;
      margin:10px;
}
nav ul li a {
      color:white;
      
}

.Eden {
    background:Blue;
    padding:3px;
    }
p {
    font-size:20pt;
}
}